* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f4f4f4;
  color: #333;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

.smooth-scroll {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
